/*Browser and Defaults*/
/* hides scrollbar from safari and chrome */
::-webkit-scrollbar { 
    display: none; 
}
/* no dotted border on links in FF */
a:focus{border:none;outline:none}

/* NEW ADDS */




body{
  text-align: center;
  display: none;
}

a:focus, a:hover {
  text-decoration: none;
}

nav {
  z-index: 2;
  position: relative;
  background-color: #FFF;
  text-align: center;
  padding: 0px;
  margin:0px;
  width: 100%;
  padding-bottom: 10px;
  float: left;
}

.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}

.film, .photo, .art {
  margin-top: 0px;
}

.section-home {
  position:relative;
  top:-10vh;
}

/* END NEW ADDS */


/*Rotations
#rotr05{transform:rotate(.5deg);-webkit-transform: rotate(.5deg);-mox-transform: rotate(.5deg)}
#rotr1{transform:rotate(1deg);-webkit-transform: rotate(1deg);-mox-transform: rotate(1deg)}
#rotr2{transform:rotate(2deg);-webkit-transform: rotate(2deg);-mox-transform: rotate(2deg)}

#rotl05{transform:rotate(-.5deg);-webkit-transform: rotate(-.5deg);-mox-transform: rotate(-.5deg)}
#rotl1{transform:rotate(-1deg);-webkit-transform: rotate(-1deg);-mox-transform: rotate(-1deg)}
#rotl2{transform:rotate(-2deg);-webkit-transform: rotate(-2deg);-mox-transform: rotate(-2deg)}
*/


/* style sections 
@media screen and (min-width: 0px) {
.section-home {padding:200px 10% 600px;text-align: center; margin: 0px auto 0px}
.section-about {padding:70px 0px 0px;text-align: center; margin: 0px auto 0px}
.section-film {padding:50px 5px 0px;text-align:center; margin: 0px auto 0px}
.section-photo {padding:50px 5px 0px;text-align:center; margin: 0px auto 0px}
.section-art {padding:50px 5px 90px;text-align: center; margin: 0px auto 0px}
}
@media screen and (min-width: 768px) {
.section-home {padding:200px 10% 430px;text-align: center; margin: 0px auto 0px}
.section-about {padding:70px 0px 120px;text-align: center; margin: 0px auto 0px}
.section-film {padding:50px 5px 120px;text-align:center; margin: 0px auto 0px}
.section-photo {padding:50px 5px 120px;text-align:center; margin: 0px auto 0px}
.section-art {padding:50px 5px 180px;text-align: center; margin: 0px auto 0px}
}


@media screen and (min-height: 1024px) {
.section-home {padding:200px 10% 727px;text-align: center; margin: 0px auto 0px}

}
@media screen and (min-height: 1340px) {
.section-home {padding:420px 10% 727px;text-align: center; margin: 0px auto 0px}
.section-about {padding:300px 0px 400px;text-align: center; margin: 0px auto 0px}
.section-photo {padding:50px 5px 420px;text-align:center; margin: 0px auto 0px}
.section-art {padding:50px 5px 480px;text-align: center; margin: 0px auto 0px}
}
@media screen and (max-height: 736px) {
.section-home {padding:120px 10% 439px;text-align: center; margin: 0px auto 0px}

}
@media screen and (max-height: 667px) {
.section-home {padding:120px 10% 370px;text-align: center; margin: 0px auto 0px}

}
@media screen and (max-height: 568px) {
.section-home {padding:120px 10% 300px;text-align: center; margin: 0px auto 0px}
}
*/



/*nav*/
ul{padding:0px 0px 0px;margin:0 auto 0; list-style-position: inside;}
li{
  display: inline-block;
  list-style: none;
  margin:0 auto 0;
}

figcaption.smcap, figcaption.mdcap, figcaption.lgcap {
    position: absolute;
    color: #fff;
    text-decoration: none;
    text-align: left;
    vertical-align: bottom;
    padding:0 5px 0;
    background-color: rgba(0,0,0,.8);
    opacity:.6;
}

figcaption.smcap, figcaption.mdcap, figcaption.lgcap {
    bottom: 3%;
    left: 1.5%;
    max-width:97%;
}

.artcap {
    bottom: 2% !important;
}


@media screen and (min-width: 0px) {
  a:link img {
    opacity:1;
    -webkit-transition:opacity 1.8s;
    -moz-transition:opacity 1.8s;
    -o-transition:opacity 1.8s;
    transition:opacity 1.8s;
  }
  a:hover img, a:focus img {
    opacity:.8;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;

  }
}


@media screen and (min-width: 768px) {
  a:link img {   
     -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     filter: grayscale(100%);
    opacity:1;
    
    -webkit-transition: 1.8s;
    -moz-transition: 1.8s;
    -o-transition: 1.8s;
    transition: 1.8s;
  }

  a:hover img, a:focus img {
      -webkit-filter: grayscale(0%);
     -moz-filter: grayscale(0%);
     -ms-filter: grayscale(0%);
     filter: grayscale(0%);
     opacity:1;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .smcap{font-size: 11pt}
  .mdcap{font-size: 11pt}
  .lgcap{font-size: 11pt}

}

@media screen and (min-width: 992px) {.lgcap{font-size: 12pt}}



#nodrag{  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;}

/*footer*/
.footer{
  background-color: #2A120A;
  background: url(imgs/wood.jpg);
  background-repeat:repeat-x;
  background-position: center;
  width: 100%;
  height:180px;
  overflow: visible;
  color:#CCC;
  font-weight: 100;
  font-size: 11pt;
  text-align: center; 
   letter-spacing: 1px;
}
@media screen and (max-width: 768px){
  .footer{
    font-weight: 200;}
}

.footer a{color:#CCC;   
}
.footer a:hover, .footer a:focus{
  color:#FFF;
  text-decoration: none;

}

.footer-image {
  background: url(imgs/paper3.png);
  background-repeat:repeat-x;
  background-position: center;
  width:100%;
  height:52px;
  vertical-align: top;
  overflow: visible;
  outline:0;
  border:none;
}

.lead a{color:#FC0;text-decoration: none;font-style: italic;}
.lead a:hover, .lead a:focus{text-decoration: none;background-color: #FC0;color:#333;}
.lead a:active{background-color: #FC0;color:#FFF;}


.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #FFF !important;
  font-size: 45px;
  font-weight: 100;
  border-radius: 0;
  border:1px solid #333;
  vertical-align: middle;
  color:#333;
  outline:0 !important;
  position:  absolute;
  width:100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display:block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.btn-primary:hover, .btn-primary:active {
  border: 1px solid #FC0 !important;
  color:#FC0 !important;
  box-shadow: none;

}


.box-size{
  position: relative;
  overflow: hidden;
  width: 100%;   /* desired width */
}

.box-size a {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100%;
  width:auto;
}

.box-size:before{
  content: "";
  display: block;
  padding-top: 66%;  /* initial ratio of 1:1*/
}

.filmbox.box-size:before{
  content: "";
  display: block;
  padding-top: 56.25%;  /* initial ratio of 1:1*/
}
.artbox.box-size:before{
  content: "";
  display: block;
  padding-top: 81%;  /* initial ratio of 1:1*/
}

.large.box-size:before{
  content: "";
  display: block;
  padding-top: 57.5%;  /* initial ratio of 1:1*/
}



nav {
  z-index: 2;
  position: relative;
  background-color: #FFF;
  text-align: center;
  padding: 0px;
  margin:0;
  width: 100%;
  padding-bottom: 10px;
  float: left;
}

.fixed {
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
}





/* section heading icon replacements */

.about{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/sam.svg);
  width: 120px;
  height: 120px;
  background-size: 100%;
  margin: 25px;
}
.film {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/filmred.svg);
  width: 100px;
  height: 100px;
  background-size: 100%;
  margin: 30px 0px 0px;
}
.photo {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/photoblue.svg);
  width: 100px;
  height: 100px;
  background-size: 100%;
  margin: 30px 0px 0px;
}
.art {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/artgreen.svg);
  width: 100px;
  height: 100px;
  background-size: 100%;
  margin: 30px 0px 0px;
}


/* other icon reps */
.smile {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/smile.gif);
  width: 100px;
  height: 56px;
  margin: 0px auto 30px;
  background-size: 100%;
}

/* Contact Links */
  .twitter {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/icons/twitter.svg);
    width: 35px;height: 35px;
    background-size: 100%;
    margin: 0px 10px 50px;
  }
  a.twitter:hover, a.twitter:focus{background: url(imgs/icons/twitterlink.svg);}
  .linkedin {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/icons/linkedin.svg);
    width: 35px;height: 35px;
    margin: 0px 10px 50px;
    background-size: 100%;
  }
  a.linkedin:hover, a.linkedin:focus{background: url(imgs/icons/linkedinlink.svg);}
  .resume {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/icons/resume1.svg);
    width: 35px;height: 35px;
    margin: 0px 10px 50px;
    background-size: 100%;
  }
  a.resume:hover, a.resume:focus{background: url(imgs/icons/resume1link.svg);}

  .email {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/icons/email.svg);
    width: 35px;height: 35px;
    margin: 0px 10px 50px;
    background-size: 100%;
  }
  a.email:hover, a.email:focus{background: url(imgs/icons/emaillink.svg);}


@media screen and (min-width: 0px) {

/*navlinks*/
.aboutnav{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/samblk.svg);
  width: 40px;
  height: 40px;
  background-size: 100%;
  margin: 0px 10px 0px;}
a.aboutnav:hover{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/sam.svg);}
.filmnav{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/film.svg);
  width: 40px;
  height: 40px;
  background-size: 100%;
  margin: 0px 10px 0px;}
a.filmnav:hover{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/filmred.svg);}
.photonav{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/photo.svg);
  width: 40px;
  height: 40px;
  background-size: 100%;
  margin: 0px 10px 0px;}
a.photonav:hover{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/photoblue.svg);}
.artnav{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/art.svg);
  width: 40px;
  height: 40px;
  background-size: 100%;
  margin: 0px 10px 0px;}
a.artnav:hover{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/artgreen.svg);}



/*home*/
.title{border:0;font:0/0 a;text-shadow:none;color:transparent;
  display: inline-block;
  background-image:url(imgs/icons/ssrsig.svg);
  width: 225px ;
  height: 100px;
  background-size: 100%;

}
a.title:hover, a.title:focus{border:0;font:0/0 a;text-shadow:none;color:transparent;display: inline-block;
  background:url(imgs/icons/ssrsigylw.svg);}


.filmhome {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/film.svg);
  width: 50px;
  height: 50px;
  background-size: 100%;
  margin: 0px 10px 0px;
}
a.filmhome:hover, a.filmhome:focus{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/filmred.svg);
}
.photohome {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/photo.svg);
  width: 50px;
  height: 50px;
  background-size: 100%;
  margin: 0px 10px 00px;
}
a.photohome:hover, a.photohome:focus {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/photoblue.svg);}
.arthome {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/art.svg);
  width: 50px;
  height: 50px;
  background-size: 100%;
  margin: 0px 10px 0px;
}
a.arthome:hover, a.arthome:focus {border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
  background:url(imgs/icons/artgreen.svg);}
/*Notes*/
  .stagenote{
    position:absolute;
    padding-top: 5px;
    left:30%;
    width:50%;
  }
  .abouttxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/aboutnarr.svg);
    width: 260px;
    height: 381px;
    background-size: 100%;
    margin: 0px 0px 20px;
  }
  .filmtxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/filmnarr2.svg);
    width: 227px;
    height: 133px;
    background-size: 100%;
    margin: 0px 0px 20px;
  }
  .arttxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/artnarr.svg);
    width: 244px;
    height: 112px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
  .lead{max-width:350px;margin: 10px auto 20px}
  }


@media screen and (min-width: 768px) {

/*navlinks*/
.aboutnav{
  margin: 0px 20px 0px;}

.filmnav{
  margin: 0px 20px 0px;}

.photonav{
  margin: 0px 20px 0px;}

.artnav{
  margin: 0px 20px 0px;}



/*Home*/
.title {
  width: 360px ;
  height: 160px;
  margin-top:0px;
}
.filmhome {
  width: 80px;
  height: 80px;
  margin: 0px 20px 0px;
}
.photohome {
  width: 80px;
  height: 80px;
  margin: 0px 20px 00px;
}
.arthome {
  width: 80px;
  height: 80px;
  margin: 0px 20px 0px;
}

.lead{max-width:500px;margin: 10px auto 20px}

/*Notes*/
  .stagenote{
    position:absolute;
    padding-top: 5px;
    left:30%;
    width:50%;
  }
  .abouttxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/aboutwide.svg);
    width: 458px;
    height: 231px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
  .filmtxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/filmwide.svg);
    width: 458px;
    height: 99px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
  .arttxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/artwide.svg);
    width: 458px;
    height: 57px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
}
@media screen and (min-width: 992px) {
  /*Notes*/
  .stagenote{
    position:absolute;
    padding-top: 5px;
    left:30%;
    width:50%;
  }
  .abouttxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/aboutwide.svg);
    width: 550px;
    height: 277px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
  .filmtxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/filmwide.svg);
    width: 550px;
    height: 118px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
  .arttxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/artwide.svg);
    width: 550px;
    height: 68px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
  }
@media screen and (min-width: 1200px) {
  /*Notes*/
  .about-text{max-width: 600px;}
  .stagenote{
    position:absolute;
    padding-top: 5px;
    left:30%;
    width:50%;
  }
  .abouttxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/aboutwide.svg);
    width: 687px;
    height: 346px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
  .filmtxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/filmwide.svg);
    width: 687px;
    height: 148px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
  .arttxt{border:0;font:0/0 a;text-shadow:none;color:transparent;display:inline-block;
    background:url(imgs/txt/artwide.svg);
    width: 687px;
    height: 85px;
    background-size: 100%;
    margin: 0px 20px 20px;
  }
  }